/* Base */
.app-container {
  min-height: 100vh;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  font-family: "Inter", sans-serif;
  min-width: 320px;
}

/* Header */
.app-header {
  padding: 32px 0;
  text-align: center;
  width: 100%;
  max-width: 640px;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-title {
  font-size: 36px;
  font-weight: 800;
  color: var(--color-primary-dark);
}
